.Card-Series {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  flex-wrap: wrap;
}

.Info-Images {
  width: 100%;
  padding: 10px;
}

.Info-Card {
  display: block;
  box-sizing: border-box;
  min-width: 240px;
  padding: 10px;
  flex: 1;
}

.Caption {  
  font-family: Open Sans, Tahoma, Verdana, Geneva, sans-serif;
  text-align: center;
  font-size: 12px;
  color: #009;
}

@media (max-width: 275px){
  .Info-Images {
    width: 100%;
  }

  .Info-Card {    
    min-width: 150px;
  }
}

@media (max-width: 150px){
  .Info-Card {    
    min-width: 80px;
  }
}