.Card-Series {
  display: flex;
  flex-wrap: wrap;
}

.Info-Images {
  width: 240px;
  float: right;
  padding: 10px;
}

.Info-Card {
  display: inline-block;
  box-sizing: border-box;
  min-width: 500px;
  padding: 10px;
  flex: 1;
}

.Caption {  
  font-family: Open Sans, Tahoma, Verdana, Geneva, sans-serif;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  color: #009;
}

@media (max-width: 550px){
  .Info-Images {
    width: 100%;
  }

  .Info-Card {    
    min-width: 275px;
  }
}

@media (max-width: 300px){
  .Info-Card {    
    min-width: 150px;
  }
}